/* Template Styles */
* {
   margin: 0;
   padding: 0;
}

html,
body {
   height: 100%;
}

body {
   font-family: Open Sans, Arial, sans-serif;
   font-size: 14px;
}

.wrapper {
   height: 100%;
   display: table;
   width: 100%;
}

.header {
   display: table-row;
   height: 1em;
   background: #dddddd;
   outline: 1px solid gray;
}

.main {
   height: 100%;
   display: table;
   width: 100%;
}

.box {
   display: table-cell;
   vertical-align: top;
}

.sidebar {
   width: 12em;
   padding-top: 10px;
   padding-left: 10px;
}

.footer {
   display: table-row;
   background: #dddddd;
   height: 1em;
   overflow: hidden;
}


/* Display Styles */

.clickable {
   cursor: pointer
}

.grabbable {
   cursor: -webkit-grab
}

.noselect {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

fieldset {
   margin-bottom: 1em;
   border-radius: 8px;
   padding: 8px 5px 12px 5px;
   box-shadow: 0px 2px 4px black, 2px 3px 5px #cccccc;
   border: 3px groove;
   cursor: default;
}

legend {
   background: white;
}

hr {
   border: none;
   margin: 3px 0;
}

input {
   padding: 5px 5px;
   width: inherit;
}

a,
a:visited,
a:active {
   color: black;
   text-decoration: none;
}

.header div {
   float: left;
   padding: 0 8px;
   text-shadow: 1px 1px 2px #cccccc;
   outline: 1px solid gray;
}